@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{

    background-color: rgb(36, 33, 33);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.main-container{
    background-color: rgb(255, 255, 255);
    /* padding: 10rem 15rem; */
    width: 80vmin;
    text-align: center;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 30px 10px;
}

.timer-section{
    margin-top: 1%;
    position: relative;
    text-align: right;
    right: 5rem;
}
.timer-section p{
    padding: 0.4rem;
}

.quote-container{

    position: relative;
    margin-top: 6%;
}

.typing-area{
    display: flex;
    position: relative;
    margin-top: 8%;
    justify-content: center;
    padding: 0 30px;
}

.typing-area textarea{
    font-size: 1rem;

}

button{
    margin-top: 3%;
    margin-right: 30px;
    float: right;
    background-color: rgb(0, 0, 0);
    color:rgb(0, 255, 234);
    border: rgb(0, 255, 234) solid;
    font-size: 1.2em;
    padding: 0.5rem;
    transition: all 0.25s;
}

button:hover{
    border-color:rgb(141, 255, 47);
    color:rgb(221, 255, 0);
    box-shadow: 2px 3px 2px 1px rgba(145, 247, 11, 0.978),4px 5px 2px 1px rgba(11, 247, 239, 0.978);
    transform: translateY(-0.25em);
    cursor: pointer;
}

#stop-test{
    display: none;
}



.wrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.result{
    margin-top: 4rem;
    display: none;
}

.success {
    color: #44b267;
  }

.fail {
    color: #e81c4e;
}


